<template>
  <app-content id="shows">
    <app-header :title="name">
      <div slot="left" class="iconfont icon-zuo" @click="backAction"></div>
    </app-header>

    <div class="cinema-block">
      <div class="cinema-info">
        <div class="title ellipsis">{{ name }}</div>
        <div class="location">{{ data.addr }}</div>
        <a target="_blank" :href="mapurl" class="location-icon">
          <img src="@/assets/location.png" />
          <div>地图</div>
        </a>
      </div>

      <div class="movies">
        <div class="expected-list">
          <div
            class="poster-bg"
            :style="'backgroundImage:url(' + imgComputed(movieInfo.img) + ')'"
          ></div>
          <h-scroll class="hsc">
            <li
              v-for="(item, index) in movies"
              :key="item.id"
              class="expected-item"
              @click="setMovieInfo(index)"
            >
              <img
                :class="[{ img: true }, { bor: movieInfo.id == item.id }]"
                :src="imgComputed(item.img)"
                alt=""
              />
            </li>
          </h-scroll>
        </div>

        <div class="movie-desc">
          <div class="nm">
            {{ movieInfo.nm }}
            <span v-if="movieInfo.sc > 0" class="sc">{{ movieInfo.sc }}分</span>
          </div>
          <p>{{ movieInfo.desc }}</p>
        </div>

        <div class="movie-buy">
          <div id="showDays">
            <ul id="timeline">
              <li
                v-for="(item, index) in movieInfo.shows"
                :key="item.id"
                class="showDay"
                :class="{ chosen: dIndex == index }"
                @click="selectDay(index)"
              >
                {{ item.dateShow }}
              </li>
            </ul>
          </div>
        </div>
        <ul class="plists">
          <li v-for="item in movieInfo.shows[dIndex].plist" :key="item.seqNo" class="plist">
            <div class="lang">
              {{ item.lang }}
            </div>
            <div class="th">
              {{ item.th }}
            </div>
            <div class="tm">
              {{ item.tm }}
            </div>
            <div class="vipPrice">价格：{{ item.vipPrice }}</div>
          </li>
        </ul>
      </div>
    </div>
  </app-content>
</template>

<script>
import AppContent from '../../components/Content'
import AppHeader from '../../components/Header'
import HScroll from '../../components/Scroll'
import { getShows } from '@/service/cinemaService'

export default {
  name: 'CinemaShow',
  components: { HScroll, AppHeader, AppContent },
  data() {
    return {
      name: '',
      data: {},
      movies: {},
      movieInfo: {},
      dIndex: 0,
      mapurl: ''
    }
  },
  computed: {
    imgComputed() {
      return img => img.replace(/w.h/, `${85}.${115}`)
    }
  },
  async created() {
    const data = await getShows(localStorage.cinemaID)
    this.name = data.cinemaData.nm
    this.data = data.cinemaData
    this.movies = data.showData.movies
    this.movieInfo = this.movies[0]
    // eslint-disable-next-line
    this.mapurl = `https://apis.map.qq.com/uri/v1/marker?marker=coord:${this.data.lat},${
      this.data.lng
    };title:${this.name};addr:${this.data.addr}&referer=myapp`
  },
  methods: {
    backAction() {
      this.$router.back()
    },
    setMovieInfo(index) {
      this.movieInfo = this.movies[index]
    },
    selectDay(index) {
      this.dIndex = index
    }
  }
}
</script>

<style lang="scss" scoped>
#shows {
  width: 100%;
  height: 100%;
  z-index: 11;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;

  .movie-info {
    padding: 11px 15px;
    text-align: center;

    .movie-title {
      height: 24px;
      line-height: 24px;
      font-size: 17px;
      color: #333;
      font-weight: 700;
    }

    .movie-desc {
      margin-top: 2px;
      height: 18.5px;
      line-height: 18.5px;
      font-size: 13px;
      color: #999;
    }
  }

  .cinema-block {
    position: absolute;
    top: 40px;
    width: 100%;

    .cinema-info {
      position: relative;
      padding: 15px 100px 15px 15px;

      .title {
        font-size: 17px;
        line-height: 24px;
        color: #333;
      }

      .location {
        margin-top: 3px;
        font-size: 13px;
        color: #999;
      }

      .location-icon {
        position: absolute;
        right: 0;
        top: 50%;
        width: 60px;
        height: 34px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-left: 1px solid #d8d8d8;
        text-align: center;
        color: #999;
        font-size: 13px;

        img {
          display: inline-block;
          width: 18px;
          height: 23px;
        }
      }
    }
  }

  .movies {
    display: flex;
    flex-direction: column;
    height: 94vh;
    .expected-list {
      flex: none;
      border-bottom: 1px solid #f4f4f4;
      position: relative;
      background: #333;
      overflow: hidden;
      height: 20vh;

      .hsc {
        padding: 15px;
      }

      .expected-item {
        display: inline-block;
        margin-right: 15px;

        .bor {
          border: 1px solid #f4f4f4;
        }

        .img {
          height: 15vh;
          width: 11vh;

          img {
            height: 100%;
          }
        }
      }

      .poster-bg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        -webkit-filter: blur(1.2rem);
        filter: blur(1.2rem);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.55;
      }
    }

    .movie-desc {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #f4f4f4;

      .nm {
        font-size: 16px;

        .sc {
          color: #faaf00;
          font-size: 16px;
        }
      }

      p {
        color: #999999;
        font-size: 14px;
      }
    }

    .movie-buy {
      #showDays {
        width: 100%;
        background-color: #fff;
        overflow-x: scroll;
        height: 45px;
        position: relative;

        #timeline {
          padding: 0;
          margin: 0;
          white-space: nowrap;
          overflow-x: scroll;
          height: 45px;
          background: url(../../assets/line.png) 0 bottom no-repeat;

          .showDay {
            padding: 0;
            position: relative;
            display: inline-block;
            width: 115px;
            line-height: 43px;
            margin: 0 0 0 4.5px;
            font-size: 14px;
            text-align: center;
            list-style: none;
            color: #666;

            &.chosen {
              border-bottom: 2px solid #f03d37;
              color: #f03d37;
            }
          }
        }
      }
    }
    .plists {
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;
      padding-bottom: 15vh;

      .plist {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        padding: 0.5rem;
        background: #9dcff2;
        border-radius: 15px;
      }
    }
  }
}
</style>
