<template>
  <div id="cinema">
    <div class="sub-header">
      <span class="city-icon" @click="goCityList()">
        {{ city }}
      </span>
      <section class="search-input" @click="goSearch()">
        <img src="@/assets/searchImg.png" />
        <span>影院</span>
      </section>
    </div>
    <drop />
    <keep-alive>
      <cinema-list style="top: 85px;bottom: 50px" />
    </keep-alive>
    <router-view />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Drop from '../../components/drop'
import CinemaList from './cinemaList'

export default {
  name: 'Cinema',
  components: { CinemaList, Drop },
  computed: {
    ...mapState(['city'])
  },
  methods: {
    goCityList() {
      this.$router.push('/cinema/city-list')
    },
    goSearch() {
      this.$router.push('/cinema/SearchCinema')
    }
  }
}
</script>

<style lang="scss" scoped>
#cinema {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sub-header {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  color: #777;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 44px;
  justify-content: space-between;
  background: #f5f5f5;

  .city-icon {
    padding-left: 15px;
    font-size: 14px;
    line-height: 44px;
    color: #666;
    display: flex;
    align-items: center;

    &::after {
      content: '  ';
      display: inline-block;
      border: 6px solid transparent;
      border-top: 6px solid #cccccc;
      transform: translate(4px, 4px);
    }
  }

  .search-input {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 28px;
    font-size: 13px;
    color: #b2b2b2;
    margin-left: 18px;
    border: 0.5px solid #e6e6e6;
    border-radius: 5px;
    margin-right: 15px;
    background: #fff;

    img {
      display: block;
      width: 14px;
      height: 14px;
      margin-left: 3px;
      margin-right: 4px;
    }
  }
}
</style>
