<template>
  <app-content
    :style="{ top: '41px', bottom: '49px' }"
    :can-load-more="canLoadMore"
    @loadmore="loadMoreData"
  >
    <div class="coming">
      <div class="expected">
        <p style="margin-bottom: 8px;font-size: 15px">近期最受欢迎</p>
        <h-scroll
          class="expected-list"
          :can-load-more="canLoadMore"
          @moreExpectList="moreExpectList"
        >
          <li
            v-for="item in expectedList"
            :key="item.id"
            class="expected-item"
            @click="playingDetail(item.id)"
          >
            <div class="img"><img :src="item.img | replaceWH(85, 115)" alt="" /></div>
            <div class="name">{{ item.nm }}</div>
            <p class="time">{{ item.comingTitle }}</p>
          </li>
        </h-scroll>
      </div>

      <div v-for="(list, key) in comingMap" :key="key">
        <p class="time-title">{{ key }}</p>
        <ul>
          <li
            v-for="item in list"
            :key="item.id"
            class="coming-item"
            @click="playingDetail(item.id)"
          >
            <div class="item-img"><img :src="item.img" alt="" /></div>
            <div class="item-content">
              <div class="nm">
                <div class="title">{{ item.nm }}</div>
                <span
                  class="version"
                  :class="[{ imax: item.version == 'v3d imax' }, { v3d: item.version == 'v3d' }]"
                ></span>
              </div>
              <div class="sc">
                <span>{{ item.wish }}</span
                >人想看
              </div>
              <div class="star">主演：{{ item.star }}</div>
              <div class="show-info">{{ item.rt }}上映</div>
            </div>
            <div class="btn-ticket">
              <div v-if="item.showst == 4" class="btn sell">
                <span>预售</span>
              </div>
              <div v-else class="btn pre">
                <span>想看</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </app-content>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import { State } from 'vuex-class'
import {
  getComingList,
  getMoreComingList,
  getMoreMostExpectedData,
  getMostExpectedData
} from '@/service/movieService'
import AppContent from '../../components/Content.vue'
import hScroll from '../../components/Scroll.vue'

@Component({ components: { AppContent, hScroll } })
export default class Coming extends Vue {
  @State cityID!: string

  comingMap = []
  morecomingMap: any = []
  comingIDS = []
  canLoadMore = true
  expectedList: any = []
  num = 0
  initData: any

  playingDetail(id: any) {
    localStorage.id = id
    this.$router.push('/movie/detail')
  }

  moreExpectList() {
    this.num += 10
    getMoreMostExpectedData(this.num).then((result: any) => {
      this.expectedList = this.expectedList.concat(...result)
    })
  }

  loadMoreData() {
    const comingIDS = [...this.comingIDS].splice(this.initData.length, 10).join(',')
    // 发送请求
    this.canLoadMore = false
    getMoreComingList(this.cityID, comingIDS).then((result: any) => {
      this.initData = [...this.initData, ...result]
      result.map((item: any) => {
        if (!this.morecomingMap.hasOwnProperty(item.comingTitle)) {
          this.morecomingMap[item.comingTitle] = []
        }
        this.morecomingMap[item.comingTitle].push(item)
      })
      this.comingMap = Object.assign({}, this.comingMap, this.morecomingMap)
      this.canLoadMore = this.morecomingMap.length < this.comingIDS.length
    })
  }

  async created() {
    getComingList(this.cityID).then((res: any) => {
      this.initData = res.dataResult
      this.comingMap = Object.assign({}, this.comingMap, res.data)
      this.comingIDS = res.ids
    })

    this.expectedList = await getMostExpectedData(this.cityID)
  }

  @Watch('cityID')
  async onCityIDChanged() {
    getComingList(this.cityID).then((res: any) => {
      this.initData = res.dataResult
      this.comingMap = Object.assign({}, this.comingMap, res.data)
      this.comingIDS = res.ids
    })
    this.expectedList = await getMostExpectedData(this.cityID)
  }
}
</script>

<style lang="scss" scoped>
.expected {
  padding: 12px 0 12px 15px;
  border-bottom: 10px solid #f4f4f4;

  .expected-item {
    display: inline-block;
    width: 85px;
    overflow: hidden;
    margin-right: 15px;

    .img {
      width: 85px;
      height: 115px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .name {
      margin: 0 0 3px;
      font-size: 13px;
      color: #222;
    }

    .time {
      margin: 0;
      font-size: 12px;
      color: #999;
    }
  }
}

.time-title {
  padding: 12px 15px 0;
  margin: 0;
  font-size: 14px;
  color: #333;
}

li {
  position: relative;
}

.coming-item {
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  padding: 10px;

  .item-img {
    width: 64px;
    height: 90px;

    img {
      width: 100%;
    }
  }

  .item-content {
    margin-left: 5px;
    font-size: 13px;
    color: #666;
    padding-right: 5px;
    margin-right: 48px;
    overflow: hidden;

    .nm {
      max-height: 24px;
      margin-bottom: 7px;
      line-height: 24px;
      overflow: hidden;
      font-weight: bold;
      font-size: 17px;
      color: #333;
      display: flex;
      width: 205.6px;

      .title {
        font-weight: 700;
        padding-right: 5px;
        flex-shrink: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .version {
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        height: 14px;
        width: 17px;
        display: inline-block;
        margin-top: 5px;
        margin-right: 3px;
      }

      .v3d {
        background: url(../../assets/3d.png) no-repeat;
        background-size: 100% 100%;
      }

      .imax {
        width: 43px;
        background: url(../../assets/3dMax.png) no-repeat;
        background-size: 100% 100%;
      }
    }

    .sc {
      line-height: 13px;
      font-weight: normal;

      span {
        font-weight: 700;
        color: #faaf00;
        font-size: 15px;
      }
    }

    .star {
      margin-top: 6px;
      line-height: 15px;
      width: 205.6px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .show-info {
      margin-top: 6px;
      line-height: 15px;
    }
  }

  .btn-ticket {
    font-size: 12px;
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    height: 27px;
    margin: auto;

    .btn {
      width: 47px;
      line-height: 26px;
      text-align: center;
      box-sizing: border-box;
      color: #fff;
      border-radius: 4px;
      white-space: nowrap;
      cursor: pointer;
    }

    .sell {
      background-color: #3c9fe6;
    }

    .pre {
      border: 1px #e54847 solid;
      color: #e54847;
    }
  }
}
</style>
