<template>
  <div id="detail">
    <app-header :title="data.nm">
      <div slot="left" class="iconfont icon-zuo" @click="backAction"></div>
    </app-header>

    <div class="movie-detail">
      <div class="movie-filter"></div>
      <div class="poster-bg" :style="'backgroundImage:url(' + data.img + ')'"></div>
      <div class="detail">
        <div class="poster">
          <img :src="data.img" alt />
        </div>
        <div class="content">
          <div class="title ellipsis">{{ data.nm }}</div>
          <div class="title-en-name ellipsis">{{ data.enm }}</div>
          <div class="score ellipsis">
            {{ data.sc }}
            <span class="snum">({{ data.snum }}人评)</span>
          </div>
          <div class="type ellipsis">
            <span>{{ data.cat }}</span>
            <img
              v-if="data.version == 'v3d imax'"
              style="width: 42px;"
              src="../../assets/3dMax.png"
              alt
            />
            <img
              v-if="data.version == 'v3d'"
              style="width: 1.1rem;"
              src="../../assets/3d.png"
              alt
            />
          </div>
          <div class="src ellipsis">{{ data.src }}/{{ data.dur }}分钟</div>
          <div class="pubDesc ellipsis">{{ data.pubDesc }}</div>
        </div>
      </div>
    </div>

    <div v-if="flag">
      <div class="movie-dar">
        <a class="btn" @click="flag = !flag">特惠购票</a>
        <p class="dar">{{ data.dra }}</p>
      </div>
      <div class="movie-photo">
        <div class="title">剧照</div>
        <li v-for="item in data.photos" :key="item.id" class="expected-item">
          <img :src="item | replaceWH(85, 115)" alt />
        </li>
      </div>
    </div>

    <div v-else>
      <ul id="timeline">
        <li
          v-for="(item, index) in dates"
          class="showDay"
          :class="{ chosen: active == index }"
          @click="select(index)"
        >
          {{ item.date }}
        </li>
      </ul>

      <drop />
      <cinema-list style="top: 320px;bottom: 0" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import AppHeader from '../../components/Header'
import CinemaList from '../../views/cinema/cinemaList'
import drop from '../../components/drop'

import { getMovieDetail, getPlayingDetail } from '@/service/movieService'

export default {
  name: 'Detail',
  components: {
    AppHeader,
    drop,
    CinemaList
  },
  filters: {
    replaceWH(path, w, h) {
      return path.replace(/w.h/, `${w}.${h}`)
    }
  },
  data() {
    return {
      data: {},
      flag: true,
      active: 0
    }
  },
  computed: {
    ...mapState(['cityID'])
  },
  created() {
    getPlayingDetail(localStorage.id).then(data => {
      this.data = data.detailMovie
    })
    getMovieDetail(localStorage.id, this.time, this.cityID).then(data => {
      this.dates = data.showDays.dates
    })
  },
  methods: {
    backAction() {
      this.flag ? this.$router.back() : (this.flag = true)
    },
    select(index) {
      this.active = index
      this.time = new Date().getTime() + 84600000 * index
      getMovieDetail(localStorage.id, this.time, this.cityID).then(data => {
        this.dates = data.showDays.dates
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../style/mixin';

#detail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #f5f5f5;
  color: #777;

  .movie-detail {
    position: relative;

    .movie-filter {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: #333;
    }

    .poster-bg {
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
      position: absolute;
      filter: blur(1.2rem);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.55;
    }

    .detail {
      height: 150px;
      padding: 19px 30px 19px 15px;
      display: flex;
      overflow: hidden;

      .poster {
        img {
          width: 110px;
          height: 150px;
          box-sizing: border-box;
        }
      }

      .content {
        flex: 1;
        margin-left: 12.5px;
        line-height: 1;
        color: #fff;

        .title {
          font-size: 20px;
          margin-top: 2px;
          overflow: hidden;
        }

        .title-en-name {
          margin-top: 2px;
          font-size: 12px;
          color: #fff;
          opacity: 0.8;
        }

        .score {
          font-size: 18px;
          font-weight: 700;
          color: #fc0;
          margin-top: 11px;

          .snum {
            margin-top: 10px;
            font-size: 12px;
            color: #fff;
            opacity: 0.8;
          }
        }

        .type {
          margin-top: 10px;
          font-size: 12px;
          opacity: 0.8;

          img {
            margin-left: 3px;
            display: inline-block;
          }
        }

        .src {
          margin-top: 10px;
          font-size: 12px;
          color: #fff;
          opacity: 0.8;
        }

        .pubDesc {
          margin-top: 10px;
          font-size: 12px;
          color: #fff;
          opacity: 0.8;
        }
      }
    }

    .arrow-g {
      position: absolute;
      width: 10px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .movie-dar {
    background: white;
    width: 100%;
    margin-bottom: 0.8rem;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

    .btn {
      margin: 0.5rem 4%;
      width: 90%;
      text-align: center;
      cursor: pointer;
      font-size: 1.1rem;
      padding: 0.6rem 0.24rem;
      display: inline-block;
      border-radius: 4px;
      line-height: 1;
      color: white;
      background: #e54847;
      box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
    }

    .dar {
      color: #555;
      padding: 0 1rem 0.5rem 1rem;
    }
  }

  .movie-photo {
    width: 100%;
    background: white;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .title {
      margin: 0.2rem 8px;
      color: #777;
      font-size: 1rem;
    }

    li {
      overflow: hidden;
      margin: 0.3rem;
      display: inline-block;

      img {
        height: 15vh;
      }
    }
  }

  #timeline {
    white-space: nowrap;
    overflow-x: scroll;
    height: 45px;
    background: url(../../assets/line.png) 0 bottom no-repeat;

    .showDay {
      display: inline-block;
      width: 115px;
      line-height: 43px;
      font-size: 14px;
      text-align: center;
      color: #666;

      &.chosen {
        border-bottom: 2px solid #f03d37;
        color: #f03d37;
      }
    }
  }
}
</style>
