<template>
  <div>
    <div class="sub-header">
      <span class="city-icon" @click="goCityList">{{ city }}</span>
      <div class="nav">
        <div v-for="(navItem, index) in navList" :key="index" @click="navAction(index)">
          <span :class="{ active: navIndex === index }">{{ navItem }}</span>
        </div>
      </div>
      <span class="search-icon" @click="goSearch">
        <img src="../../assets/search.png" alt="search" />
      </span>
    </div>

    <router-view />

    <keep-alive>
      <playing v-if="navIndex === 0" />
      <coming v-if="navIndex === 1" />
    </keep-alive>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { State } from 'vuex-class'

import Playing from './Playing.vue'
import Coming from './Coming.vue'

@Component({
  components: { Playing, Coming }
})
export default class movie extends Vue {
  @State city!: string
  navList = ['热映', '待映']
  navIndex = 0

  navAction(index: number) {
    this.navIndex = index
  }
  goCityList() {
    this.$router.push('/movie/city-list')
  }
  goSearch() {
    this.$router.push('/movie/Search')
  }
}
</script>

<style lang="scss" scoped>
.sub-header {
  color: #484644;
  font-size: 0.9rem;
  display: flex;
  box-shadow: 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

  .city-icon {
    flex: 2;
    text-align: center;
    line-height: 41px;

    &::after {
      content: '  ';
      display: inline-block;
      border: 6px solid transparent;
      border-top: 6px solid #cccccc;
      transform: translate(4px, 4px);
    }
  }

  .nav {
    flex: 9;
    display: flex;
    color: #484644;

    div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        padding: 0.2rem;
        box-sizing: border-box;
        &.active {
          font-weight: bold;
          border-bottom: 2px solid #f03d37;
        }
      }
    }
  }

  .search-icon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 24px;
    }
  }
}
</style>
