<template>
  <app-content
    :style="{ top: '41px', bottom: '49px' }"
    :can-load-more="canLoadMore"
    @loadmore="loadMoreData"
  >
    <ul class="playing">
      <li
        v-for="item in playingList"
        :key="item.id"
        class="playing-item"
        @click="playingDetail(item.id)"
      >
        <img class="item-img" :src="item.img" alt="img" />
        <div class="item-content">
          <div class="nm">
            {{ item.nm }}
            <span
              class="version"
              :class="[{ imax: item.version === 'v3d imax' }, { v3d: item.version === 'v3d' }]"
            />
          </div>
          <div class="star">主演：{{ item.star }}</div>
          <div class="show-info">{{ item.showInfo }}</div>
        </div>
        <div class="btn-ticket">
          <div v-if="item.sc > 0" class="sc">
            <span>{{ item.sc }}</span
            >分
          </div>
          <div v-else class="sc">
            <span>{{ item.wish }}</span
            >人想看
          </div>
          <div v-if="item.globalReleased === true" class="btn sell"><span>购票</span></div>
          <div v-else class="btn pre"><span>预售</span></div>
        </div>
      </li>
    </ul>
  </app-content>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import AppContent from '../../components/Content.vue'
import { getPlayingList, getMorePlayingList } from '@/service/movieService'

@Component({ components: { AppContent } })
export default class Playing extends Vue {
  playingList: any = []
  playingIDS = []
  canLoadMore = true
  loadMoreData() {
    let ids = [...this.playingIDS]
    ids = ids.splice(this.playingList.length, 10)
    const movieIds = ids.join(',')
    this.canLoadMore = false
    getMorePlayingList(movieIds).then(result => {
      this.playingList = [...this.playingList, ...result]
      this.canLoadMore = this.playingList.length < this.playingIDS.length
    })
  }
  playingDetail(id: any) {
    localStorage.id = id
    this.$router.push('/movie/detail')
  }
  async created() {
    const res = await getPlayingList()
    if (res === undefined) return
    this.playingList = res.data
    this.playingIDS = res.ids
  }
}
</script>

<style lang="scss" scoped>
@import '../../style/mixin.scss';

.playing-item {
  display: flex;
  margin: 0 3vmin;
  padding: 3vmin 0;
  border-bottom: 1px solid rgb(237, 235, 233);

  .item-img {
    border-radius: 3px;
    width: 4rem;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  }

  .item-content {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
    overflow: hidden;

    .nm {
      overflow: hidden;
      font-size: 1.1rem;
      font-weight: bold;
      color: #333;
      display: flex;
      @include ver;

      .version {
        background-size: contain;
        margin-top: 5px;
        margin-left: 5px;
      }
    }

    .star {
      margin-top: 12px;
      width: 205.6px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .show-info {
      margin-top: 6px;
    }
  }

  .btn-ticket {
    font-size: 12px;
    position: absolute;
    right: 14px;

    .btn {
      box-sizing: border-box;
      position: absolute;
      top: 40px;
      right: 0;
      width: 47px;
      line-height: 28px;
      text-align: center;
      color: #fff;
      border-radius: 4px;
      white-space: nowrap;
      cursor: pointer;
      box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
    }

    .sell {
      background-color: #f03d37;
    }

    .pre {
      background-color: #3c9fe6;
    }

    .sc {
      color: #faaf00;

      span {
        font-size: 18px;
      }
    }
  }
}
</style>
