<template>
  <div id="search" class="page">
    <app-header title="猫眼电影">
      <div slot="left" class="iconfont icon-zuo" @click="cancel"></div>
    </app-header>

    <div class="search">
      <img class="search-icon" src="../../assets/searchImg.png" alt="search" />
      <input v-model="val" type="search" placeholder="搜电影，搜影院" />
      <img
        class="del-input"
        style="display: none;"
        src="../../assets/searchClose.png"
        alt="searchClose"
        @click="cancel"
      />
    </div>

    <div class="result">
      <search-movie
        v-if="movieTotal"
        :search-movie-list="searchMovieList"
        :movie-total="movieTotal"
      />
      <search-cinema
        v-if="cinemaTotal"
        class="cinema"
        :search-cinema-list="searchCinemaList"
        :cinema-total="cinemaTotal"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import AppHeader from '../../components/Header'
import SearchMovie from '../../components/search/SearchMovie'
import SearchCinema from '../../components/search/SearchCinema'
import { getCinemaAndMovie } from '../../service/otherService'

export default {
  name: 'Search',
  components: { SearchCinema, SearchMovie, AppHeader },
  data() {
    return {
      searchCinemaList: [],
      searchMovieList: [],
      movieTotal: null,
      cinemaTotal: null,
      val: ''
    }
  },
  computed: {
    ...mapState(['cityID'])
  },
  watch: {
    val() {
      getCinemaAndMovie(this.cityID, this.val).then(data => {
        if (data.newCinemaData) {
          this.searchCinemaList = data.newCinemaData
          this.cinemaTotal = data.cinemaTotal
        } else {
          this.searchCinemaList = []
          this.cinemaTotal = null
        }
        if (data.newMovieData) {
          this.searchMovieList = data.newMovieData
          this.movieTotal = data.movieTotal
        } else {
          this.searchMovieList = []
          this.movieTotal = null
        }
      })
    }
  },
  methods: {
    cancel() {
      this.$router.back()
    }
  }
}
</script>

<style lang="scss" scoped>
#search {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #f5f5f5;
}

.result {
  width: 100%;
  position: absolute;
  top: 94px;

  .cinema {
    position: absolute;
    top: 436px;
    left: 0;
  }
}

.search {
  padding: 0 10px;
  background-color: #fff;
  margin: 10px 10px;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

  .search-icon {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 6px;
    float: left;
    position: relative;
    top: 6px;
  }

  input {
    flex: 1;
    border: none;
    font-size: 13px;
    color: #333;
    line-height: 20px;
    width: calc(100% - 40px);
    padding: 4px 0 4px 10px;
  }

  .del-input {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    float: right;
    top: 6px;
  }
}

.hot-search {
  position: relative;
  top: 44px;
  left: 0;
  padding: 0 0 8px 15px;
  background-color: #fff;

  h3 {
    border-top: 1px solid #e5e5e5;
    padding-top: 17px;
    font-size: 15px;
    color: #666;
  }

  .hot-movies-wrap {
    margin-top: 15px;
    padding-right: 15px;
    overflow: hidden;
  }
}
</style>
