<template>
  <div id="user">
    <a href="https://github.com/fokq/maoyanFilm" target="_blank">
      <div class="btn">github Link</div>
    </a>
  </div>
</template>

<style lang="scss" scoped>
#user {
  background: #f5f5f5;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;

  .btn {
    display: inline-flex;
    margin: 0.6rem;
    color: #605e5c;
    background-color: white;
    padding: 0.6rem;
    box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  }
}
</style>
