@mixin borLine {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

@mixin bottomLine {
  border-bottom: 1px solid #e5e5e5;
}

@mixin img($url) {
  background: url($url) no-repeat;
  background-size: 100% 100%;
}

@mixin ver {
  .v3d {
    @include img('../../assets/3d.png');
  }

  .imax {
    width: 43px;
    @include img('../../assets/3dMax.png');
  }
}
