<template>
  <div ref="content" class="content">
    <slot />
  </div>
</template>

<script>
import { ref, onMounted } from '@vue/composition-api'

export default {
  name: 'Content',
  props: {
    canLoadMore: {
      type: Boolean,
      default: false
    }
  },
  setup(props, { emit }) {
    const content = ref(null)
    let contentScroll

    onMounted(() => {
      contentScroll = new IScroll(content.value)

      contentScroll.on('beforeScrollStart', () => contentScroll.refresh())
      contentScroll.on('scrollEnd', () => {
        if (contentScroll.y <= contentScroll.maxScrollY && props.canLoadMore) emit('loadmore')
      })
    })
    return {
      content
    }
  }
}
</script>

<style scoped>
.content {
  position: absolute;
  width: 100%;
  z-index: -2;
  overflow: hidden;
}
</style>
