<template>
  <div class="header">
    <span class="header-btn header-btn-left">
      <slot name="left" />
    </span>
    <div class="title">{{ title }}</div>
    <span class="header-btn header-btn-right">
      <slot name="right" />
    </span>
  </div>
</template>

<script>
export default {
  name: 'AppHeader',
  props: {
    title: String
  },
  setup(props) {}
}
</script>

<style lang="scss" scoped>
.header {
  background: #e54847;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vmin;
  max-height: 60px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

  .title {
    text-align: center;
    color: #fff;
    font-weight: 100;
  }

  .header-btn {
    padding: 0 1rem;
    color: #fff;
    &.header-btn-left {
      left: 1rem;
    }

    &.header-btn-right {
      right: 1rem;
    }
  }
}
</style>
