<template>
  <div ref="scroll" class="scroll">
    <div class="warp" :style="{ width: width + 'px' }">
      <slot />
    </div>
  </div>
</template>

<script>
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class HScroll extends Vue {
  @Prop
  canLoadMore

  width = 0

  mounted() {
    // eslint-disable-next-line
    scroll = new IScroll(this.$refs.scroll, {
      scrollX: true,
      scrollY: false
    })

    scroll.on('beforeScrollStart', () => {
      let width = 0
      this.$slots.default.map(item => {
        width += item.elm.offsetWidth + 15
      })
      this.width = width
      scroll.refresh()
    })

    scroll.on('scrollEnd', () => {
      if (scroll.x <= scroll.maxScrollX && this.canLoadMore) {
        this.$emit('moreExpectList')
      }
    })
  }
}
</script>

<style scoped>
.scroll {
  overflow: hidden;
  white-space: nowrap;
}
</style>
