<template>
  <div class="cinemaList">
    <h3>影院</h3>
    <ul class="list">
      <li v-for="(item, index) in searchCinemaList" :key="index">
        <p>
          <span class="cinemaName">{{ item.nm }}</span
          ><span class="sellPrice">{{ item.sellPrice }}元起</span>
        </p>
        <p class="addr">{{ item.addr }}</p>
        <div class="tip">
          <span v-if="item.sell === true">座</span>
          <span v-for="_item in item.hallType" :key="_item">{{ _item }}</span>
          <span v-if="item.snack === 1" class="snack">小吃</span>
          <span v-if="item.vipDesc !== ''" class="sale">{{ item.vipDesc }}</span>
        </div>
      </li>
    </ul>
    <div v-if="cinemaTotal > 2" class="more-result">查看全部{{ cinemaTotal }}家电影院</div>
  </div>
</template>

<script>
export default {
  name: 'SearchCinema',
  props: {
    searchCinemaList: Array,
    cinemaTotal: Number
  },
  setup(props) {}
}
</script>

<style lang="scss" scoped>
.cinemaList {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  background: #fff;

  h3 {
    font-size: 15px;
    color: #999;
    padding: 9px 15px;
  }

  .list {
    padding-left: 15px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;

    li:last-child {
      border-bottom: none;
    }
  }

  li {
    width: 100%;
    min-height: 80px;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

    p {
      width: 100%;
      display: flex;

      .cinemaName {
        display: inline-block;
        max-width: 70%;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .sellPrice {
        margin-left: 10px;
        font-size: 12px;

        font {
          font-size: 16px;
        }
      }
    }

    .addr {
      display: inline-block;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 5px 0;
      color: #999;
      font-size: 12px;
    }

    .tip {
      width: 70%;
      font-size: 10px;

      span {
        display: inline-block;
        min-width: 10px;
        height: 20px;
        line-height: 18px;
        text-align: center;
        padding: 0 5px;
        color: #589daf;
        border: 1px solid #589daf;
        border-radius: 3px;
        margin: 2px 2px;
      }

      .snack,
      .sale {
        color: #f90;
        border: 1px solid #f90;
      }
    }
  }

  .more-result {
    text-align: center;
    line-height: 44px;
    height: 44px;
    font-size: 15px;
    color: #ef4238;
  }
}
</style>
