<template>
  <div id="app">
    <keep-alive>
      <router-view />
    </keep-alive>

    <div class="bar">
      <div
        v-for="(tab, index) in tabList"
        :class="[{ active: navIndex === index }]"
        :key="tab.name"
        @click="navAction(index, tab.path)"
      >
        <i :class="['iconfont', tab.icon]" />
        <div>{{ tab.name }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class App extends Vue {
  tabList = [
    { name: '电影', icon: 'icon-dianying', path: '/movie' },
    { name: '影院', icon: 'icon-yingyuan', path: '/cinema' },
    { name: '我的', icon: 'icon-ren', path: '/user' }
  ]
  navIndex = 0
  navAction(index: number, url: string) {
    this.navIndex = index
    this.$router.push(url)
  }
}
</script>

<style lang="scss" scoped>
#app .bar {
  height: 13vmin;
  max-height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  background: white;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #979593;

    > div {
      font-size: 1rem;
    }

    > i {
      font-size: 2rem;
    }

    &.active {
      color: #f03d37;
    }
  }
}
</style>
